{
  "presets": ["@babel/preset-env"],
  "plugins": [
    "@babel/plugin-syntax-flow",
    "@babel/plugin-syntax-object-rest-spread",
    "@babel/plugin-transform-flow-strip-types",
    "@babel/plugin-transform-runtime",
  ]
}
